kafka-samples/resources/order.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="Street" type="xs:string" />
                            <xs:element name="City" type="xs:string" />
                            <xs:element name="State" type="xs:string" />
                            <xs:element name="Zip" type="xs:unsignedShort" />
                            <xs:element name="Country" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Type" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="Products">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Product">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ProductName" type="xs:string" />
                                        <xs:element name="Quantity" type="xs:unsignedByte" />
                                        <xs:element name="USPrice" type="xs:decimal" />
                                    </xs:sequence>
                                    <xs:attribute name="ProductNumber" type="xs:unsignedInt" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ProductName" type="xs:string" />
                                        <xs:element name="Quantity" type="xs:unsignedByte" />
                                        <xs:element name="USPrice" type="xs:decimal" />
                                    </xs:sequence>
                                    <xs:attribute name="ProductNumber" type="xs:unsignedInt" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PaymentInformation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PaymentMethod" type="xs:string" />
                            <xs:element name="CardNumber" type="xs:string" />
                            <xs:element name="CVC" type="xs:unsignedByte" />
                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Name" type="xs:string" />
                                        <xs:element name="Street" type="xs:string" />
                                        <xs:element name="City" type="xs:string" />
                                        <xs:element name="State" type="xs:string" />
                                        <xs:element name="Zip" type="xs:unsignedShort" />
                                        <xs:element name="Country" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="Type" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SubTotal" type="xs:decimal" />
                            <xs:element name="Tax" type="xs:decimal" />
                            <xs:element name="Currency" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="OrderNumber" type="xs:unsignedInt" use="required" />
            <xs:attribute name="OrderDate" type="xs:date" use="required" />
            <xs:attribute name="Type" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>